{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{'allcryptoscreatedtitle'|trans}}</h3>
    <table class="table text-center">
        <tr>
            <th class="active text-center">{{'name'|trans}}</th>
            <th class="active text-center">{{'price'|trans}}</th>
            <th class="active text-center">{{'remove'|trans}}</th>
            <th class="active text-center">{{'favorite'|trans}}</th>
        </tr>
        {% for crypto in cryptoscreated %}
        <tr>
            <td><a href="{{ path('crypto.show', {id: crypto.id}) }}">{{ crypto.name }}</a></td>
            <td><a href="{{ path('crypto.show', {id: crypto.id}) }}">{{ crypto.prix }}</a></td>
            <td><a href="{{ path('crypto.delete', {id: crypto.id}) }}">{{'crypto.remove'|trans}}</a></td>
            <td>
            {% if cryptosfav.contains(crypto) %}
            <i class="fas fa-star"></i>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}