{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-danger">
        <strong>{{'crypto.advert'|trans}}</strong>
        <ul>
            <li><strong>{{'crypto.name'|trans}} : </strong> {{ crypto.name }}</li>
        </ul>
    </div>
    <div class="collapse navbar-collapse">
    {{ form_start(form, {'attr': {'class': 'navbar-form navbar-left'}}) }}
    {{ form_widget(form) }}
        <a href="{{ path('crypto.list') }}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>{{'crypto.cancel'|trans}}</a>
        <button type="submit" class="btn btn-danger" onclick="return confirm('{{'crypto.areyousure'|trans}}')">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        {{'crypto.remove'|trans}}
    </button>
    {{ form_end(form) }}
    </div>
{% endblock %}