{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{'allcryptosfavoritetitle'|trans}}</h3>
    <table class="table text-center">
        <tr>
            <th class="active text-center">{{'name'|trans}}</th>
            <th class="active text-center">{{'price'|trans}}</th>
            <th class="active text-center">{{'author'|trans}}</th>
            <th class="active text-center">{{'remove'|trans}}</th>
        </tr>
        {% for crypto in cryptosfav %}
        <tr>
            <td><a href="{{ path('crypto.show', {id: crypto.id}) }}">{{ crypto.name }}</a></td>
            <td><a href="{{ path('crypto.show', {id: crypto.id}) }}">{{ crypto.prix }}</a></td>
            {% if crypto.creator is not null %}
                <td><a href="{{ path('crypto.show', {id: crypto.id}) }}">{{ crypto.creator.username }}</a></td>
            {% else %}
                <td><a href="{{ path('crypto.show', {id: crypto.id}) }}">{{'notspecified'|trans}}</a></td>
            {% endif %}
            <td><a href="{{ path('crypto.delete', {id: crypto.id}) }}">{{'crypto.remove'|trans}}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}