{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{'detailsofthecrypto'|trans}} {{ crypto.name }}</h1>
    <div class="content">
            <div>
                {{'price'|trans}} : {{ crypto.prix }} €
            </div>
            {% if crypto.author is not null %}
            <div>{{'createdby'|trans}} {{ crypto.author }}</div>
            {% endif %}
            {% if crypto.getUsersHaveFavoris()[0] is defined and not null %}
            <div>
                <table class="table">
                <thead>
                <tr>
                    <th>{{'usersfavoris'|trans}}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in crypto.getUsersHaveFavoris() %}
                    <tr>
                        <td><a href="#">{{ user.username }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            {% endif %}
            <img style="width: 150px; height: 150px;" src="{{ crypto.imgUrl }}">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <a class="btn btn-default" href="{{ path('crypto.list') }}">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        {{'allcryptostitle'|trans}}
                    </a>
                    <a class="btn btn-primary" href="{{ path('crypto.edit', {id: crypto.id}) }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        {{'edit'|trans}}
                    </a>
                    {% if not faving %}
                    <a class="btn btn-primary" href="{{ path('crypto.fav', {id: crypto.id}) }}">
                        <span aria-hidden="true"></span>
                        {{'setfavorite'|trans}}
                    </a>
                    {% else %}
                    <a class="btn btn-primary" href="{{ path('crypto.unfav', {id: crypto.id}) }}">
                        <span aria-hidden="true"></span>
                       {{'removefavorite'|trans}}
                    </a>
                    {% endif %}
                    <a class="btn btn-primary" href="{{ path('crypto.commenter', {id: crypto.id}) }}">
                        <span aria-hidden="true"></span>
                       {{'comment'|trans}}
                    </a>
                </div>
            </div>
    </div>
{% endblock %}