{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-danger">
        <strong>{{'crypto.unfav.advert'|trans}}</strong>
        <ul>
            <li><strong>{{'crypto.name'|trans}} : </strong> {{ crypto.name }}</li>
        </ul>
    </div>
    <div class="collapse navbar-collapse">
    {{ form_start(form, {'attr': {'class': 'navbar-form navbar-left'}}) }}
    {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">
        Yes
        </button>
        <a href="{{ path('crypto.list') }}" class="btn btn-danger" role="button">No</a>
    {{ form_end(form) }}
    </div>
{% endblock %}