<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Gestion des cryptos{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock %}

    {% block javascripts %}{% endblock %}

    
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('crypto.list') }}">Cryptos</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <div>
                        <a href="{{ path('crypto.create') }}" class="btn btn-success navbar-btn">{{'crypto.create'|trans}}</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="{{ path('cryptofav.list') }}" class="btn btn-primary navbar-btn">{{'crypto.listfav.title'|trans}}</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="{{ path('cryptocreated.list') }}" class="btn btn-primary navbar-btn">{{'crypto.listcreated.title'|trans}}</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-globe"></span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                {% for key,locale in locales %}
                    <li>
                    <a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': key})) }}">{{locale}}</a>
                    </li>
                {% endfor %}
                </ul>
                </li>
                <li>
                    <a href="{{ path('app_login') }}">{{'login'|trans}}</a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}">{{'logout'|trans}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</body>
</html>
